<div ng-controller="LoginController">
    <div class="main">

        <form name="form" role="form" class="pure-form pure-form-stacked">
            Username:
            <input type="text" id="username" ng-model="username" required/>
            Password:
            <input type="password" id="password" ng-model="password" required/>

            <button type="submit" ng-click="signup()" ng-disabled="form.$invalid" class="pure-button pure-button-primary">Sign up</button>
            <button type="submit" ng-click="login()" ng-disabled="form.$invalid" class="pure-button pure-button-primary">Login</button>
        </form>

        <!-- Form Validation -->
        <div ng-if="formInvalid">
            <span class="error">{{ loginMsg }}</span>
        </div>

    </div>
</div>
