<!-- Column Headers -->
<div class="pure-g custom-text-center">
    <div class="pure-u-1-7"><p>Flag</p></div>
    <div class="pure-u-1-7"><p>Currency</p></div>
    <div class="pure-u-1-7"><p>History</p></div>
    <div class="pure-u-1-7"><p>Rate</p></div>
    <div class="pure-u-1-7"><p>Amount</p></div>
    <div class="pure-u-1-7"><p>US Dolars</p></div>
    <div class="pure-u-1-7"><p></p></div>
</div>

<hr>

<!-- User's currency rates -->
<div class="pure-g custom-text-center" ng-repeat="data in userData">
  <div class="pure-u-1-7"><p>{{ data.flag }} </p></div>
  <div class="pure-u-1-7"><p>{{ data.currency }}</p></div>
  <div class="pure-u-1-7"><p>{{ data.history30Day }}</p></div>
  <div class="pure-u-1-7"><p>{{ data.rate | number }}</p></div>
  <div class="pure-u-1-7"><input ng-model='amount' placeholder="0.00" type="number"></div>
  <div class="pure-u-1-7"><p>{{ amount * data.rate | currency}}</p></div>
  <div class="pure-u-1-7"><button class="button-small button-secondary pure-button">Remove</button></div>
</div>

<!-- Add currency button -->
<div class="pure-u-1">
  <select class="button-large pure-button"
  ng-model="currency"
  ng-options="currencyName for (countryCode, currencyName) in countries">
    <option value="">Add Currency</option>
  </select>
</div>
